In [46]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("/Users/kathrynreese/Documents/Data/Pandas/pandas-challenge-clone/Resources/schools_complete.csv")
student_data_to_load = Path("/Users/kathrynreese/Documents/Data/Pandas/pandas-challenge-clone/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [47]:
# Calculate the total number of unique schools
school_count = school_data['school_name'].nunique()
school_count

15

In [56]:
#How many students are involved in this study?
student_name = 'student_name'
student_count = student_data[student_name].count()
print(student_count)

39170

In [50]:
#Calculate total budget for those schools
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [51]:
#Find average math score
average_math_score = student_data['math_score'].mean()
print(average_math_score)

78.98537145774827

In [52]:
#Find average reading score
average_reading_score = student_data['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [57]:
#WRONG CALCULATION, NEEDS DEBUGGING, ANSWER 74.98
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
student_count_value = student_count()
passing_math_percentage = round(passing_math_count / float(student_count_value) * 100, 2)
passing_math_percentage

TypeError: 'numpy.int64' object is not callable

In [42]:
#WRONG CALCULATION, NEEDS DEBUGGING, ANSWER NOT AVAILABLE
#How many students passed in reading? 
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
student_count_value = student_count()
passing_reading_percentage = round(passing_reading_count / float(student_count_value) * 100, 2)
passing_reading_percentage

TypeError: 'int' object is not callable

In [33]:
#THIS SHOULDN'T BE THIS HARD
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count_value) * 100
overall_passing_rate

78.031484028733

In [ ]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = df['passing_reading_count', 'passing_math_count', 'overall_passing_rate', 'average_math_score', 'average_reading_score','total_budget',  ]

# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary