In [1]:
# Dependencies and Setup
import pandas as pd
from pathlib import Path

# File to Load (Remember to Change These)
school_data_to_load = Path("/Users/kathrynreese/Documents/Data/Pandas/pandas-challenge-clone/Resources/schools_complete.csv")
student_data_to_load = Path("/Users/kathrynreese/Documents/Data/Pandas/pandas-challenge-clone/Resources/students_complete.csv")

# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

In [2]:
# Calculate the total number of unique schools
school_count = school_data['school_name'].nunique()
school_count

15

In [3]:
#How many students are involved in this study?
student_name = 'student_name'
student_count = student_data[student_name].count()
print(student_count)

39170

In [4]:
#Calculate total budget for those schools
total_budget = school_data['budget'].sum()
print(total_budget)

24649428

In [5]:
#Find average math score
average_math_score = student_data['math_score'].mean()
print(average_math_score)

78.98537145774827

In [6]:
#Find average reading score
average_reading_score = student_data['reading_score'].mean()
print(average_reading_score)

81.87784018381414

In [7]:
# Use the following to calculate the percentage of students who passed math (math scores greather than or equal to 70)
passing_math_count = school_data_complete[(school_data_complete["math_score"] >= 70)].count()["student_name"]
passing_math_percentage = round(passing_math_count / float(student_count) * 100, 2)
passing_math_percentage

74.98

In [8]:
#How many students passed in reading? 
passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >= 70)].count()["student_name"]
passing_reading_percentage = round(passing_reading_count / float(student_count) * 100, 2)
passing_reading_percentage

85.81

In [9]:
#What percentage of students passed both math and reading
passing_math_reading_count = school_data_complete[
    (school_data_complete["math_score"] >= 70) & (school_data_complete["reading_score"] >= 70)
].count()["student_name"]
overall_passing_rate = passing_math_reading_count /  float(student_count) * 100
overall_passing_rate

65.17232575950983

In [10]:
# Create a high-level snapshot of the district's key metrics in a DataFrame
district_summary = pd.DataFrame ({
    "Total Budget": [total_budget],
    "Total Schools": [school_count],
    "Total Students": [student_count],
    "Average Math Score": [average_math_score],
    "Average Reading Score": [average_reading_score],
    "% Passing Math": [passing_math_percentage],
    "% Passing Reading": [passing_reading_percentage],
    "% Overall Passing": [overall_passing_rate]
})
# Formatting
district_summary["Total Students"] = district_summary["Total Students"].map("{:,}".format)
district_summary["Total Budget"] = district_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
district_summary

,Total Budget,Total Schools,Total Students,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,"$24,649,428.00",15,"39,170",78.985371,81.87784,74.98,85.81,65.172326

In [11]:
# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]
school_types

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [12]:
# Calculate the total student count per school from school_data
#this is an option for creating a new dataframe displaying the same information, but with integer index still
#per_school_counts = school_data.loc[:, ['school_name', 'size']]
#this option also works
#per_school_counts = school_data.set_index(["school_name"])["size"] 
#per_school_counts 

school_grouped = school_data_complete.groupby("school_name")
total_students_per_school = school_grouped["student_name"].count() 
total_students_per_school

school_name
Bailey High School       4976
Cabrera High School      1858
Figueroa High School     2949
Ford High School         2739
Griffin High School      1468
Hernandez High School    4635
Holden High School        427
Huang High School        2917
Johnson High School      4761
Pena High School          962
Rodriguez High School    3999
Shelton High School      1761
Thomas High School       1635
Wilson High School       2283
Wright High School       1800
Name: student_name, dtype: int64

In [13]:
#GETTING COMPLETELY WRONG SUM, DEBUG LATER
# Calculate the total school budget from school_data
per_school_budget = school_data.groupby("school_name")['budget'].sum()
per_school_budget

school_name
Bailey High School       3124928
Cabrera High School      1081356
Figueroa High School     1884411
Ford High School         1763916
Griffin High School       917500
Hernandez High School    3022020
Holden High School        248087
Huang High School        1910635
Johnson High School      3094650
Pena High School          585858
Rodriguez High School    2547363
Shelton High School      1056600
Thomas High School       1043130
Wilson High School       1319574
Wright High School       1049400
Name: budget, dtype: int64

In [14]:
# Calculate how much of the budget is availalable per student (per capita)
#school_data_grouped = school_data.groupby("school_name")
#total_students_per_school = school_grouped["student_name"].count()

per_school_capita = per_school_budget/total_students_per_school
per_school_capita

school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [15]:
# Calculate the average test scores per school from school_data_complete
ave_reading_scores = school_grouped['reading_score'].mean() 
ave_math_scores = school_grouped['math_score'].mean()

In [16]:
# Calculate the number of students per school with math scores of 70 or higher from school_data_complete
# Calculate the number of students passing math per school
passing_math_count = school_data_complete[school_data_complete["math_score"] >= 70].groupby("school_name")["student_name"].count()

In [17]:
# Calculate the number of students per school with reading scores of 70 or higher from school_data_complete
# Calculate the number of students passing reading per school
passing_reading_count = school_data_complete[school_data_complete["reading_score"] >= 70].groupby("school_name")["student_name"].count()

In [18]:
# Use the provided code to calculate the number of students per school that passed both math and reading with scores of 70 or higher
students_passing_math_and_reading = school_data_complete[
    (school_data_complete["reading_score"] >= 70) & (school_data_complete["math_score"] >= 70)
]
school_students_passing_math_and_reading = students_passing_math_and_reading.groupby(["school_name"]).size()

In [19]:
# Use the provided code to calculate the passing rates
overall_passing_rate = school_students_passing_math_and_reading / total_students_per_school * 100
passing_math_percentage = passing_math_count/ total_students_per_school * 100
passing_reading_percentage = passing_reading_count / total_students_per_school * 100

In [20]:
# Create a DataFrame called `per_school_summary` with columns for the calculations above.
per_school_summary = pd.DataFrame ({
    "School Type": school_types,
    "Total Students": total_students_per_school,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Math Score": ave_math_scores,
    "Average Reading Score": ave_reading_scores,
    "%Passing Math": passing_math_percentage,
    "%Passing Reading": passing_reading_percentage,
    "%Passing Overall": overall_passing_rate,
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Set Pandas display options to show all columns and rows
pd.set_option('display.max_columns', None)  # Show all columns
pd.set_option('display.max_rows', None)     # Show all rows

# Print the entire DataFrame
print(per_school_summary)
# Display the DataFrame
#per_school_summary = per_school_summary.groupby('school_name')
print(per_school_summary)

                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
school_name
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score  %Passing Math  %Passing Reading  \
school_name
Bailey High School                 81.033963      66.680064         81.933280
Cabrera High School                83.975780      94.133477         97.039828
Figueroa High School               81.158020      65.988471         80.739234
Ford High School                   80.746258      68.309602         79.299014
Griffin High School                83.816757      93.392371         97.138965
Hernandez High School              80.934412      66.752967         80.862999
Holden High School                 83.814988      92.505855         96.252927
Huang High School                  81.182722      65.683922         81.316421
Johnson High School                80.966394      66.057551         81.222432
Pena High School                   84.044699      94.594595         95.945946
Rodriguez High School              80.744686      66.366592         80.220055
Shelton High School                83.725724      93.867121         95.854628
Thomas High School                 83.848930      93.272171         97.308869
Wilson High School                 83.989488      93.867718         96.539641
Wright High School                 83.955000      93.333333         96.611111

                       %Passing Overall
school_name
Bailey High School            54.642283
Cabrera High School           91.334769
Figueroa High School          53.204476
Ford High School              54.289887
Griffin High School           90.599455
Hernandez High School         53.527508
Holden High School            89.227166
Huang High School             53.513884
Johnson High School           53.539172
Pena High School              90.540541
Rodriguez High School         52.988247
Shelton High School           89.892107
Thomas High School            90.948012
Wilson High School            90.582567
Wright High School            90.333333
                      School Type  Total Students Total School Budget  \
school_name
Bailey High School       District            4976       $3,124,928.00
Cabrera High School       Charter            1858       $1,081,356.00
Figueroa High School     District            2949       $1,884,411.00
Ford High School         District            2739       $1,763,916.00
Griffin High School       Charter            1468         $917,500.00
Hernandez High School    District            4635       $3,022,020.00
Holden High School        Charter             427         $248,087.00
Huang High School        District            2917       $1,910,635.00
Johnson High School      District            4761       $3,094,650.00
Pena High School          Charter             962         $585,858.00
Rodriguez High School    District            3999       $2,547,363.00
Shelton High School       Charter            1761       $1,056,600.00
Thomas High School        Charter            1635       $1,043,130.00
Wilson High School        Charter            2283       $1,319,574.00
Wright High School        Charter            1800       $1,049,400.00

                      Per Student Budget  Average Math Score  \
school_name
Bailey High School               $628.00           77.048432
Cabrera High School              $582.00           83.061895
Figueroa High School             $639.00           76.711767
Ford High School                 $644.00           77.102592
Griffin High School              $625.00           83.351499
Hernandez High School            $652.00           77.289752
Holden High School               $581.00           83.803279
Huang High School                $655.00           76.629414
Johnson High School              $650.00           77.072464
Pena High School                 $609.00           83.839917
Rodriguez High School            $637.00           76.842711
Shelton High School              $600.00           83.359455
Thomas High School               $638.00           83.418349
Wilson High School               $578.00           83.274201
Wright High School               $583.00           83.682222

                       Average Reading Score  %Passing Math  %Passing Reading  \
school_name
Bailey High School                 81.033963      66.680064         81.933280
Cabrera High School                83.975780      94.133477         97.039828
Figueroa High School               81.158020      65.988471         80.739234
Ford High School                   80.746258      68.309602         79.299014
Griffin High School                83.816757      93.392371         97.138965
Hernandez High School              80.934412      66.752967         80.862999
Holden High School                 83.814988      92.505855         96.252927
Huang High School                  81.182722      65.683922         81.316421
Johnson High School                80.966394      66.057551         81.222432
Pena High School                   84.044699      94.594595         95.945946
Rodriguez High School              80.744686      66.366592         80.220055
Shelton High School                83.725724      93.867121         95.854628
Thomas High School                 83.848930      93.272171         97.308869
Wilson High School                 83.989488      93.867718         96.539641
Wright High School                 83.955000      93.333333         96.611111

                       %Passing Overall
school_name
Bailey High School            54.642283
Cabrera High School           91.334769
Figueroa High School          53.204476
Ford High School              54.289887
Griffin High School           90.599455
Hernandez High School         53.527508
Holden High School            89.227166
Huang High School             53.513884
Johnson High School           53.539172
Pena High School              90.540541
Rodriguez High School         52.988247
Shelton High School           89.892107
Thomas High School            90.948012
Wilson High School            90.582567
Wright High School            90.333333

In [ ]:
# Sort the schools by `% Overall Passing` in descending order and display the top 5 rows.
top_schools =
top_schools.head(5)

In [ ]:
# Sort the schools by `% Overall Passing` in ascending order and display the top 5 rows.
bottom_schools =
bottom_schools.head(5)

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the `math_score` column for each.
ninth_grade_math_scores =
tenth_grader_math_scores =
eleventh_grader_math_scores =
twelfth_grader_math_scores =

# Combine each of the scores above into single DataFrame called `math_scores_by_grade`
math_scores_by_grade =

# Minor data wrangling
math_scores_by_grade.index.name = None

# Display the DataFrame
math_scores_by_grade

In [ ]:
# Use the code provided to separate the data by grade
ninth_graders = school_data_complete[(school_data_complete["grade"] == "9th")]
tenth_graders = school_data_complete[(school_data_complete["grade"] == "10th")]
eleventh_graders = school_data_complete[(school_data_complete["grade"] == "11th")]
twelfth_graders = school_data_complete[(school_data_complete["grade"] == "12th")]

# Group by `school_name` and take the mean of the the `reading_score` column for each.
ninth_grade_reading_scores =
tenth_grader_reading_scores =
eleventh_grader_reading_scores =
twelfth_grader_reading_scores =

# Combine each of the scores above into single DataFrame called `reading_scores_by_grade`
reading_scores_by_grade =

# Minor data wrangling
reading_scores_by_grade = reading_scores_by_grade[["9th", "10th", "11th", "12th"]]
reading_scores_by_grade.index.name = None

# Display the DataFrame
reading_scores_by_grade